.container {
  display: flex;
  margin-top: 1.5rem;
}
.left-section {
  text-align: center;
  padding-right: 10px;
}
.left-item {
  padding: 18px 0;
}
.right-section {
  width: 100%;
  border: 1px solid #d9d9d9;
  height: 180px;
  background-color: white;
}
